<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comricharddip28.httpsgithub.richard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label=""
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".RichardActivity11">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabFragment1" />
        <activity android:name=".TabFragment2" />
        <activity android:name=".PagerAdapter"></activity>
    </application>

</manifest>